$color-bg: #38D5F9;
$color-secondary: #3CA6DE;

nav {
	background: $color-secondary;

	div {
		a {
			text-decoration: none;
			padding: 1rem;
			font-size: 1.2rem;
			margin: 0 .6rem;

			i {
				font-size: 1.7rem;
			}
		}
	}
}

.page-item {
	&.page-main {
		background: $color-bg;
	}
}

.lead {
	font-weight: 400;
}